<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>
<div class="container">
  
  <p>Try to change the names.</p>
  
  <div ng-app="" ng-controller="personController">
  
  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}
  
  </div>
</div>

<script>
function personController($scope) {
    $scope.firstName= "Andrew";
    $scope.lastName= "Phommathep";
}
</script>

</body>
</html>
